<div id="navbar" :class="[main_menu?'menu-open':'']"  class="fixed top-0 left-0 z-10 w-64 min-h-screen p-8 px-32 transition-all duration-300 ease-in-out transform -translate-x-full bg-indigo-900 sm:w-full sm:min-h-0 sm:h-20 sm:py-3 sm:flex sm:items-center sm:justify-between sm:translate-x-0 md:bg-transparent ">
  
  <div class="flex items-center justify-center p-5 mb-5 font-medium bg-white rounded-md sm:m-0 sm:bg-transparent sm:p-0">
    <img src="/img/huddle_white.svg" class="hidden sm:h-16" alt="Logo">
  </div>

  <nav>
    <ul class="sm:flex md:text-sm text-white">

      <li class="">
        <a href="/" class="px-4 py-1 text-lg font-bold uppercase text-huddle hover:text-yellow-400">Home</a>
      </li>

      <li class="">
        <a href="https://2019.huddleglobal.co.in" target="_blank" class="px-4 py-1 text-lg font-bold uppercase text-huddle hover:text-yellow-400">Previous Edition</a>
      </li>

    </ul>
  </nav>

</div>

<div class="flex p-3 bg-white shadow sm:hidden">        
  <img src="/img/logo.svg" alt="Logo" class="object-contain h-12">
  <button  class="fixed block w-10 h-10 px-2 py-1 ml-auto text-xl leading-none transition duration-150 bg-transparent border border-transparent border-solid rounded outline-none cursor-pointer right-5 hover:shadow lg:hidden focus:outline-none" type="button">
    <span class="block absolute w-6 h-0.5 rounded-sm bg-gray-600 top-3 duration-500" :class="[main_menu?'opacity-0':'']"></span>
    <span class="block absolute w-6 h-0.5 rounded-sm bg-gray-600 duration-500" :class="[main_menu?'transform rotate-45':'']"></span>
    <span class="block absolute w-6 h-0.5 rounded-sm bg-gray-600 duration-500" :class="[main_menu?'transform -rotate-45':'']"></span>
    <span class="block absolute w-6 h-0.5 rounded-sm bg-gray-600 bottom-2.5 duration-500" :class="[main_menu?'opacity-0':'']"></span>
  </button>
</div>


<script>
  // var button = document.querySelector('[data-collapse-toggle="navbar-default"]')
  // var target = button.getAttribute('data-collapse-toggle');

  // document.addEventListener('click', function(){
  //   document.getElementById(target).classList.toggle('hidden');
  // });
</script>